transformers>=4.45.1
torch
sentencepiece
sacremoses
accelerate
langchain
tiktoken
faiss-cpu 
sentence-transformers
langchain-community
langchain_huggingface
cohere
langchain-together
lanchain-core
langchainhub
